@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --color-primary: #f4d000;
  --color-primary-strong: #ffcc00;
  --color-dark: #050505;
  --color-dark-soft: #111111;
  --color-light: #ffffff;
  --color-muted: #bdbdbd;
  --color-border: rgba(244, 208, 0, 0.18);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
button {
  font: inherit;
}

::selection {
  background: var(--color-primary);
  color: #000000;
}